*.json
*.cache
*.props
leaplog/.vs



LeapLog/bin/Debug/netcoreapp3.1/LoginDB_log.ldf
LeapLog/bin/Debug/netcoreapp3.1/LoginDB.mdf
LeapLog/bin/Debug/netcoreapp3.1/LoginDB.mdf
LeapLog/bin/Debug/netcoreapp3.1/LoginDB_log.ldf
LeapLog/bin/Debug/netcoreapp3.1/LeapLog.dll
LeapLog/obj/Debug/netcoreapp3.1/LeapLog_MarkupCompile.lref
LeapLog/obj/Debug/netcoreapp3.1/LeapLog.pdb
LeapLog/obj/Debug/netcoreapp3.1/LeapLog.g.resources
LeapLog/obj/Debug/netcoreapp3.1/LeapLog.dll
LeapLog/obj/Debug/netcoreapp3.1/LeapLog.csproj.FileListAbsolute.txt
LeapLog/obj/Debug/netcoreapp3.1/Journal.g.i.cs
LeapLog/obj/Debug/netcoreapp3.1/Journal.g.cs
LeapLog/obj/Debug/netcoreapp3.1/Journal.baml
LeapLog/obj/Debug/netcoreapp3.1/GeneratedInternalTypeHelper.g.cs
LeapLog/bin/Debug/netcoreapp3.1/LeapLog.pdb
