*.json
*.cache
*.props
leaplog/.vs



LeapLog/bin/Debug/netcoreapp3.1/LoginDB_log.ldf
LeapLog/bin/Debug/netcoreapp3.1/LoginDB.mdf
LeapLog/bin/Debug/netcoreapp3.1/LoginDB.mdf
LeapLog/bin/Debug/netcoreapp3.1/LoginDB_log.ldf
